<section class="form-container">
  <h4>New Hazard</h4>
  <form action="/hazard" method="post" class="hazard-form">
    <div class="input-field">
      <textarea name="hazard[content]" cols="30" rows="10" placeholder="Message"></textarea>
    </div>
    <div class="">
      <select name="author" id="author">
        <option value="" disabled selected>Choose the User</option>
        {{#each users}}
          <option value="{{id}}">{{local.email}}</option>
        {{/each}}
      </select>
    </div>
    <div class="input-field">
      <input type="submit" value="Hazard" class="btn">
    </div>
  </form>
</section>